
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            font-family: 'Roboto',sans-serif;
            background-color: #FEF6F9;
        }
        
        nav{
            background-color: #fff;
            padding: 1%;
            color: black;
            position: fixed;
            top: 0;
            color: black;
            left: 0;
            width: 100%;
            z-index: 1000; 
            display: flex;
            align-items: center;    
            margin-bottom: 2%;
        }
        nav a{
            
            text-decoration: none;
            margin-right: 1%;
            color: black;
        }
        .logo{
            width: 10%;
            height: 2%;
            margin-left: 3%;
            margin-right: 5%;

        }
        
        .header {
            text-align: 0;
            padding: 7%;
            margin-bottom: 2%;
            margin-left: 0%;

        }
        .textcolor {
            color: #CB5A90;
        }
       
        .groups{
            display: flex;
            justify-content: space;
            margin: 1% 0;
            margin-left: 0;
            margin-right: 15%;
            align-items: center;
        }
        
        .group{
            width: 30%;
            height: 20%;
            padding: 2%;
            margin-left: 2%;
            align-content: center;
        }
        .ratings {
            display: flex;
            padding-top: 1%;
            justify-content: space-around;
            background: #CB5A90;
            padding: 1%;
            
        }
        .coms{
            display: flex;
            justify-content: space;
            padding: 30;
            margin-left: 2%;
            margin-right: 2%;
        }
        .com{
            flex: 1;
            margin-left: 2%;
            padding: 0;
            color: white;
            border-radius: 8px;
        }
        .newsletter h2 {
            text-align: 0;
            margin:3%;
            margin-left: 30%;
            margin-right: 30%;
        }
         .img{
            width: 30%;
            height: 30%;
            align-content: center;
            margin-left: 1%;
            
        }
        
        .features {
            display: flex;
            justify-content: space-around;
            margin: 2% ;
        }
       
        .feature {
            flex: 1;
            margin: 0.25%;
            padding: 1%;
            background: #f3f3f3;
            border-radius: 1%;
            text-align: center;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        .news{
            text-align: center;
        }
        .news input[type="email"] {
            padding: 0.5%;
            height: 18px;
            width: 250px;
            margin-right: 0.5%;
            border-radius: 10px;
            

        }
        .news input[type="submit"] {
            padding: 10px 20px;
            background-color: #CB5A90;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        .newsletter-container {
            background: #F1CFDF;
            padding: 1%;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin: 2%;
            margin-top: 1%;
        }
        .conseils{
            display: flex;
            justify-content: space-around;
            margin: 2% 0;
        }
        .femme{
            width: 20%;
            height: 30%;
        }
        .conseil{
            margin-left: 5%;
            margin-right: 5%;
        }
       .conseil h2{
            margin-right: 60%;
            margin-left: -3%;
        }
        .container{
            background: #CB5A90;
            padding: 1%;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin: 2%;
            text-align: center;
        }
        .container p{
            color: white;
        }
        .faq{
            text-align: left;
            border-radius: 8px;
            background-color: #fcf6f6;
            margin: 2%;

        }
        .faq p{
            margin-bottom: 1%;
            display: flex;
            justify-content: space-between;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            align-items: center;
        }
        .faq p span{
            width: 2%;
            height:3%;
            border-radius: 50%;
            border-color: black;
            background-color: black;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        select{
            padding: 10px 20px;
            width: 1000px;
            margin-top: 10px;
            margin-bottom: 20px;

        }
        .container input[type="submit"]{
            padding: 10px 20px;
            background-color: #F1CFDF;
            color: black;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .container2{
            background: #FDEBF1;
            padding: 1%;
            margin: 2%;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        h2{
            margin-left: 32%;
            margin-right: 35%;
            text-align: center;
            
        }
        p{
            margin: 1% 0;
        }
        .container2 input[type="email"]{
            padding: 10px;
            width: 800px;
            margin-right: 10px;
            border: none;
            border-radius: 8px;
            margin-left: 35px;
        }
        .container2 input[type="submit"]{
            padding: 10px 20px;
            margin: 30px;
            background-color: #CB5A90;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

        }
        .radioGroup{
            margin: 1% 0;
            margin-left: 2.5%;
            margin-bottom: 1%;
        }
        input[type="radio"]{
            accent-color: #cb5a90;
        }
        .footers {
            display: flex;
            justify-content: space-around;
            background: #CB5A90;
            margin: 0;
        }
        .fin {
            flex: 1;
            margin: 01%;
            padding: 1%;
            color: white;
        }
        .fin .logo{
            
            width: 35%;
            height: 25%;
            margin-left: 3%;
            margin-right: 5%;
        }
        .fin ul{
            list-style-type: none;
            padding: 0;
            color: white;
        }
        .fin li a {
            color: white;
            text-decoration: none;
        }
    
        .fin input[type="email"]{
            padding: 10;
            height: 27px;
            margin-right: 10px;
            border: none;
            border-radius: 5px;
        }
        .fin input[type="submit"]{
            padding: 10px 20px;
            height: 30px;
            margin-left: 10px;
            background-color: #f3f3f3;
            border: none;
            color: black;
            border-radius: 5px;
            cursor: pointer;
        }
        .fin .icone{
            
            width: 40px;
            height: 40px;
            margin-left: 500px;
            margin-right:-200px;
            margin: -10px;
            margin-left: 20px;
        }
        .fin .icones{
            display: flex;
            justify-content: center;
            gap: 15;
        }
        